.Modal{
  @apply p-6;
  @include mask;
  z-index: 50;
  position: fixed;
  
  display: grid;
  grid-template-columns: minmax(320px, 913px);
  justify-content: center;
  align-content: center;
  
  &_container{
    @apply p-6 text-lg rounded-2xl bg-white;
    
    min-height: 450px;
    max-height: 700px;
    
    position: relative;
    overflow: hidden;
    
    .close_btn{
      @apply bg-white rounded-full p-2;
      position: absolute;
      top: 12.5px;
      right: 12.5px;
    }
    
    // header{
    //   @apply text-white rounded-t-2xl px-10 pt-10 pb-5 mb-5 bg-light_grey;

    //   display: flex;
    //   flex-direction: column;
    //   justify-content: flex-end;
    //   min-height: 180px;
    //   background-position: 0 -55px;      
    //   background-repeat: no-repeat;
    //   background-size: cover;
      
    //   .Author{
    //     display: grid;
    //     grid-template-columns: repeat(2, auto);
    //     justify-content: flex-start;
    //     align-items: center;
    //     gap: 8px;
        
    //     @screen xx_sm{
    //       grid-template-columns: repeat(4, auto);
    //     }
    //   }
    // }
    
    // section{
    //   @apply p-0;
    //   overflow: auto;
    // }
  }
  
  &.small{
    grid-template-columns: minmax(320px, 450px);
  }
  &.small &_container{
    min-height: 250px;
  }
}