.Modal{
  @apply p-6;
  @include mask;
  z-index: 50;
  position: fixed;
  
  display: grid;
  grid-template-columns: minmax(320px, 913px);
  justify-content: center;
  align-content: center;
  
  &_container{
    @apply p-6 text-lg rounded-2xl bg-white;
    
    min-height: 450px;
    max-height: 700px;
    
    position: relative;
    overflow: hidden;
    
    .close_btn{
      @apply bg-white rounded-full p-2;
      position: absolute;
      top: 12.5px;
      right: 12.5px;
    }
  }
  
  &.small{
    grid-template-columns: minmax(320px, 450px);
  }
  &.small &_container{
    min-height: 250px;
  }
}