$sidebar-size: 80px;

.SideBar{
  position: relative;
  width: $sidebar-size;
  height: 0;
  
  nav{
    position: fixed;
    width: $sidebar-size;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: .3s;
    z-index: 10;
    
    @screen md{
      transform: translateX(0%);
    }
    
    padding: 15px 20px;
    @apply bg-white;
    
    height: 100vh;
  }
}