.Home{
  @include layout;
  
  section{
    @apply pb-28;
    h2{
      @apply text-xl font-bold;
      padding-bottom: 20px;
      
      @screen sm{
        padding-left: 10px;
      }
    }
  }
  
  &__teams-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: center;
    gap: 20px 15px;
    
    @screen sm{
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }
  
  &__news{
    display: grid;
  }
  
  &__news-list{
    @apply pb-4;
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 220px;
    gap: 20px 15px;
    
    @include scrollbar;
  }
}