.SignIn{
  @apply bg-primary md:bg-light_grey;
  display: grid;
  grid-template-columns: 1fr;
  
  
  @screen md{
    height: 100vh;
    grid-template-columns: minmax(100px, 400px) 1fr;
    gap: 20px;
    padding-right: 20px;
    
    background-image: url(https://i.imgur.com/hMPsm89.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  aside{
    @apply bg-primary text-white;
    
    position: relative;
    padding: 30px;
    padding-bottom: 47px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 30px;
    
  }
  
  & > section{
    .LogIn{
      z-index: 1;
      position: relative;
      padding: 37px 30px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      
      h2{
        @apply text-3xl xx_sm:text-4xl font-bold;
        padding-bottom: 40px;
      }
      
      section{
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
      }
      
      a{
        justify-self: center;
      }
      
      @apply bg-white;
    }
    
    @screen md{
      
      justify-self: center;
      align-self: center;
      
      .LogIn{
        min-width: 375px;
        border-radius: 20px;
      }
    }
    
    @screen lg{
      .LogIn{
        min-width: 450px;
      }
    }
  }
  
}