.Team{
  @include layout;
  
  h1{
    @apply text-lg sm:text-2xl font-bold;
  }
  
  // &__members{
  //   width: 100%;
  //   overflow-x: auto;
  // }
  
  &__table{
    max-width: calc(100vw - 50px);
    overflow-x: auto;
    display: grid;
    @include scrollbar;
    
    @screen sm{
      max-width: calc(100vw - 70px - 80px);
    }
    
    //La cabecera
    thead{
      @apply border-light_grey border-b-2 border-solid;
      
      //Las celdas de la cabecera
      th{
        @apply text-base text-light_grey font-semibold;
      }
    }
    
    //La cabecera y las filas
    thead, tr{
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      justify-items: start;
    }
    
    //Todas las celdas
    th{
      @apply p-4 md:p-8  text-base sm:text-lg font-semibold;
      display: grid;
      justify-items: start;
      align-items: center;
      min-width: 250px;
      overflow-x: hidden;
      
      span{
        overflow: hidden;
      }
    }
    
    //Las filas del cuerpo
    tbody tr {
      
      //Las celdas del cuerpo
      
      th:first-child span{
        display: grid;
        grid-template-columns: 35px 1fr;
        align-items: center;
        gap: 15px;
      }
      
      th:nth-child(2){
        @apply font-medium;
      }
      
      th:nth-child(3){
        @apply text-sm font-regular;
      }
      
      th:nth-child(4){
        @apply text-xs font-semibold;
      }
    }
    
    tbody, thead{
      th{
        min-width: 300px;
      }
      
      th:first-child{
        @apply pl-0;
      }
    }
    
  }
}