.WelcomeToSIPI{
  @apply bg-white pt-20 pb-20 px-10;
  border-radius: 20px 20px 0 0;
  
  @screen md{
    @apply px-20;
  }
  
  @screen lg{
    @apply pt-32;
    max-height: 100vh; 
    overflow: auto;
    
    //
    //  STYLE 6
    //

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 10px;
      background-color: #F5F5F5;
      
      border-radius: 5px; 
    }
    
    &::-webkit-scrollbar-thumb
    {
      border-radius: 5px; 
      @apply bg-info-light;
    }
    // border-radius: 0;
  }
}