.SelectForm{
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  
  @apply text-sm;
  
  select{
    padding: 5px 10px;
    position: relative;
    justify-self: start;
    border-bottom: 1px solid;
    @apply text-sm text-neutral-60 bg-white border-light_grey;
    
    &:hover,
    &:active{
      @apply border-primary;
    }
  }
}