.NewsCard{
  @apply bg-white;
  @include overlay("NewsCard");
  
  position: relative;
  min-height: 245px;
  max-width: 220px;
  border-radius: 10px;
  overflow: hidden;
  
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  
  
  &__cover{
    @apply bg-neutral-50;
    position: relative;
    
    img{
      @include image-cover-html;
    }
  }
  
  &__description{
    padding: 20px;
    
    h3{
      @apply text-sm font-bold pb-5;
    }
    p{
      @apply text-xs;
    }
  }
}