@import "./lib/reset";
@import "./lib/mixins";
@import "./lib/classes";
@import "./lib/ripples";

// pages
@import "../styles/index";
@import "../styles/signIn";
@import "../styles/WelcomeToSIPI";
@import "../styles/team";
@import "../styles/notFound";

// --- Components --- //

// widgets
@import "../components/widgets/_styles/Header";
@import "../components/widgets/_styles/Footer";
@import "../components/widgets/_styles/NotFoundSearches";
@import "../components/widgets/_styles/SideBar";

@import "../components/widgets/form/_styles/InputLogIn";
@import "../components/widgets/form/_styles/InputCheck";
@import "../components/widgets/form/_styles/SelectForm";
@import "../components/widgets/form/_styles/Button";

// pages
@import "../components/pages/_styles/LogIn";
@import "../components/pages/_styles/TeamCard";
@import "../components/pages/_styles/NewsCard";

// templates
@import "../components/templates/_styles/SIPI_Info";
